.event-header-image {
  height: 160px;
  margin-bottom: 32px !important;
}
.events-create-new .form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}
.events-create-new .form-row input,
.events-create-new .form-row textarea {
  flex-grow: 1;
  flex-basis: 0;
  font-size: 16px;
  line-height: 16px;
  padding: 12px 12px;
  border: 1px solid var(--vz-gray-400);
  border-radius: 5px;
}
.events-create-new .form-row input:focus,
.events-create-new .form-row textarea:focus {
  outline: none;
  border: 1px solid var(--vz-gray-500);
}
