@font-face {
  font-family: ff-primary;
  src: url(../assets/fonts/InstrumentSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ff-primary;
  src: url(../assets/fonts/InstrumentSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: ff-primary;
  src: url(../assets/fonts/InstrumentSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: ff-primary;
  src: url(../assets/fonts/InstrumentSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: ff-secondary;
  src: url(../assets/fonts/PlusJakartaSans-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: ff-secondary;
  src: url(../assets/fonts/PlusJakartaSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ff-secondary;
  src: url(../assets/fonts/PlusJakartaSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ff-secondary;
  src: url(../assets/fonts/PlusJakartaSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: ff-secondary;
  src: url(../assets/fonts/PlusJakartaSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: ff-secondary;
  src: url(../assets/fonts/PlusJakartaSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: ff-secondary;
  src: url(../assets/fonts/PlusJakartaSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
