nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100vh;
  padding: 20px 0;
  background-color: var(--vz-purple-light);
  border-right: 1px solid var(--vz-gray-400);
  z-index: 99;
}
nav > div {
  width: 220px;
  margin: 0 auto;
}
nav .nav-logo {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--vz-purple);
  cursor: default;
}
nav .nav-logo img {
  width: 70px;
  margin-right: 12px;
}
nav .nav-logo p {
  font-family: ff-secondary;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0.5px;
  margin: 0;
  color: var(--vz-purple-dark);
}
nav .nav-links {
  position: relative;
  height: calc(100% - 131px);
}
nav .nav-links .card {
  height: 100%;
  background-color: transparent;
  border: 0;
  padding: 0;
  padding-left: 12px;
}
nav a,
nav button {
  position: relative;
  width: 100%;
  display: inline-flex;
  align-items: center;
  height: 36px;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  text-decoration: none;
  color: var(--vz-gray-700);
  background-color: transparent;
  margin-bottom: 10px;
  padding: 0 8px;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
}
nav a img,
nav button img {
  width: 18px;
  height: 18px;
  margin-right: 14px;
}
nav button img.chevron {
  position: absolute;
  right: 0;
  width: 17px;
  height: 17px;
  margin-right: 0;
  transition: 0.3s;
}
nav button[aria-expanded="true"] img.chevron {
  transform: rotate(90deg);
}
nav .nav-links .card a {
  height: 28px;
  font-size: 15px;
  font-weight: 500;
}
nav .nav-links a#logout-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}
nav a:hover {
  color: var(--vz-gray-900);
}
